*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.heading{
    margin-left: 500px;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }